<center>
<h1>Machine Learning Laboratory</h1> 
<h2>(410302)</h2>
<h3>BE Sem I Honors in AI/ML</h3>
<h3>Academic Year: 2021-22</h3>
<h3>Lab Assignment No.1 Part 3 </h3></center>

<h3><font color="purple">
Name: Aboli Marathe<BR>
Roll Number: 41301<BR>
Branch: Department of Computer Engineering
</font>
</h3>

Q.1 Insert the missing part of the code below to output "Hello World".
______("Hello World")

In [ ]:


# Solution
print("Hello World")

Hello World

Q.2  find the mistake of programme

In [ ]:

if 5 > 2:
print("Five is greater than two!")

In [ ]:
# Solution
if 5 > 2:
  print("Five is greater than two!")
# The mistake is incorrect indentation.

Five is greater than two!

Q.3 Comments in Python are written with a special character, which one?
___This is a comment

In [ ]:
# Solution
#This is a comment

Q.4 Use a multiline string to make the a multi line comment:
___This is a comment
written in
more that just one line___

In [ ]:
"""
This is a comment
written in
more that just one line
"""

'\nThis is a comment\nwritten in\nmore that just one line\n'

Q.5 Create a variable named car and assign the value Volvo to it.

In [ ]:


# Solution
car = "Volvo"

Q.6 Create a variable named x and assign the value 50 to it.

In [ ]:


# Solution
x = 50

Q.7 Display the sum of 5 + 10, using two variables: x and y.

In [ ]:


# Solution
x = 5
y = 10
print(x+y)

15

Q.8 Create a variable called z, assign x + y to it, and display the result.

In [ ]:


# Solution
z = x + y
print(z)

15

Q. 9 Remove the illegal characters in the variable name:
2my-first_name = "John"

In [ ]:
# Solution
myfirst_name = "John"

Q.10 Insert the correct syntax to assign the same value to all three variables in one code line.
x __ y __ z _ "Orange"

In [ ]:
# Solution

x = y = z = "Orange"

Q.11 #Question : Given a two integer numbers return their product and if the product is greater than 1000, then return their sum
#Given:
#number1 = 20
#number2 = 30
#Expected Output:
#The result is 600
#Given:
#number1 = 40
#number2 = 30
#Expected Output:
#The result is 70

In [ ]:
# Solution

def samplefun(num1,num2):
  product = num1*num2
  if product > 1000:
    return num1 + num2
  else:
    return product

samplefun(20,30)

600

In [ ]:
samplefun(40,30)

70

Q. 12 Question : Reverse the following tuple

In [ ]:
aTuple = (10, 20, 30, 40, 50)
#Expected output:
#(50, 40, 30, 20, 10)

#Solution
print(aTuple[::-1])

(50, 40, 30, 20, 10)

Q.13 Access value 20 from the following tuple

In [ ]:

aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
#Expected output:
#20

# Solution
print(aTuple[1][1])

20

Q.14 Given a Python list you should be able to display Python list in the following order

In [ ]:

aLsit = [100, 200, 300, 400, 500]
#Expected output:
#[500, 400, 300, 200, 100]

# Solution
print(aLsit[::-1])

[500, 400, 300, 200, 100]

Q.15 Concatenate two lists index-wise

In [ ]:

list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
#Expected output:
#['My', 'name', 'is', 'Kelly']

# Solution
list3 = []
for i in range(len(list1)):
  list3.append(list1[i] + list2[i])

print(list3)

['My', 'name', 'is', 'Kelly']

Q. 16 Question: Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

In [ ]:


list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
#Expected output:
# 10 400
# 20 300
# 30 200
# 40 100

# Solution

for i in range(len(list1)):
  print( str(list1[i]) + " " + str(list2[-1*(i+1)]))

10 400
20 300
30 200
40 100

In [ ]:
# Alternative solution
for x,y in zip(list1,list2[::-1]):
  print(str(x) + " " + str(y))

10 400
20 300
30 200
40 100

Q. 17 Remove empty strings from the list of strings

In [ ]:
def fun(str1):
  if len(str1)!=0:
    return True
  else:
    return False



list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
# Expected output:
# ["Mike", "Emma", "Kelly", "Brad"]

list2 = []
filtered = filter(fun, list1)
for i in filtered:
  list2.append(i)

list2

['Mike', 'Emma', 'Kelly', 'Brad']

Q. 18 Write a Python program to display output in given format

In [ ]:


# Solution
l = "Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are!"
print(l)

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

Q. 19 Write a Python program to display the first and last colors from the following list

In [ ]:

color_list = ["Red","Green","White" ,"Black"]

# Solution
print(color_list[0],color_list[-1])

Red Black